.transaction_button {
  height: 60px;
  background: var(--rb-text-color-8);
  border-radius: 40px;

  color: var(--rb-text-color-1);
  font-size: 1rem;
  font-weight: bold;

  border: none;
  outline: none;
}
