.transaction {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  padding-bottom: 27px;
  margin-bottom: 27px;
  border-bottom: 1px solid var(--rb-background-color-3);

  &.removeOffset {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }

  > .title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-decoration: none;
    color: var(--rb-background-color-1);

    > .nameContainer {
      display: flex;
      align-items: center;
      gap: 11px;

      > .avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        background-color: darkgray;
        border-radius: 4px;

        > img {
          width: 28px;
          height: 28px;
          border-radius: 4px;
        }
      }

      > .clearBackground {
        background-color: transparent;
      }
      
      > .name {
        text-transform: uppercase;
        background: var(--rb-gradient-color-2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    
    > .cap {
      color: var(--rb-text-color-2);
    }
  }

  > .info {
    display: flex;
    width: 100%;

    font-size: 14px;
    font-weight: 500;
    line-height: 17px;

    > .column {
      flex-basis: 100%;
      flex: 1;
    }

    .title {
      margin-bottom: 8px;
      color: var(--rb-text-color-3)
    }

    .description {
      color: var(--rb-text-color-1);
    }

    .preventWrap {
      white-space: nowrap;
    }

    .positive {
      color: var(--rb-text-color-4)
    }

    .negative {
      color: var(--rb-text-color-5)
    }

    .alignCenter {
      text-align: center;
    }

    .alignRight {
      text-align: right;
    }
  }
}