.wrapper {
  background-color: var(--rb-background-color-2);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 12px;

  border-radius: 20px;
  background: var(--rb-gradient-color-3);

  > .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
  }

  > .navigationItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 6px;

    text-decoration: none;

    > .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 23px;
      height: 23px;
    }

    > .title {
      font-size: 11px;
      font-weight: 500;
      line-height: 13px;
      color: var(--rb-text-color-2);

      &.active {
        background: var(--rb-gradient-color-2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}