.toastError {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding: 20px;

  background: var(--rb-background-color-7);
  color: var(--rb-text-color-9);
  border-radius: 20px;


  > .toastTitle {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }

  > .toastMessage {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }
}
