.toastError {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding: 20px;

  background: #f9c4c4;
  color: #343434;

  border-radius: 20px;

  position: relative;

  > .toastCorner {
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    background: #ff7801;

    width: 32px;
    height: 32px;
  }

  > .toastTitle {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
  }

  > .toastMessage {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
  }
}
