.referral {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 16px;
  border-radius: 32px;
  background-color: var(--rb-text-color-1);

  > .title {
    user-select: none;
    display: flex;
    align-items: center;
    gap: 11px;

    font-size: 16px;
    font-weight: 600;
    line-height: 19px;

    > .icon {
      display: flex;
      align-items: center;
      justify-content: center;

      > img {
        width: 26px;
        height: 26px;
      }
    }

    > .text {
      color: var(--rb-background-color-1);
      /* background: var(--rb-gradient-color-2);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; */
    }
  }

  > .counter {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;

    > .title {
      color: var(--rb-text-color-3);
      /* background: var(--rb-gradient-color-1);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; */
    }

    > .value {
      color: var(--rb-background-color-1);
      /* background: var(--rb-gradient-color-2);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; */
    }
  }

  > .description {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--rb-text-color-3);

    > p {
      margin: 0;
      margin-bottom: 17px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}