:root {
  /* Available TG theme variable */
  /* --tg-color-scheme: dark;
  --tg-theme-accent-text-color: #2ea6ff;
  --tg-theme-bg-color: #18222d;
  --tg-theme-button-color: #2ea6ff;
  --tg-theme-button-text-color: #ffffff;
  --tg-theme-destructive-text-color: #ef5b5b;
  --tg-theme-header-bg-color: #131415;
  --tg-theme-hint-color: #b1c3d5;
  --tg-theme-link-color: #62bcf9;
  --tg-theme-secondary-bg-color: #131415;
  --tg-theme-section-bg-color: #18222d;
  --tg-theme-section-header-text-color: #b1c3d5;
  --tg-theme-subtitle-text-color: #b1c3d5;
  --tg-theme-text-color: #ffffff;
  --tg-viewport-height: 100vh;
  --tg-viewport-stable-height: 100vh; */

  --rb-gradient-color-1: linear-gradient(180deg, #828282 0%, #454545 100%);
  --rb-gradient-color-2: linear-gradient(180deg, #F0F0F0 0%, #949494 100%);
  --rb-gradient-color-3: linear-gradient(180deg, #1B1B1B 0%, #111111 100%);
  --rb-background-color-1: #191919;
  --rb-background-color-2: #000;
  --rb-background-color-3: #131313;
  --rb-background-color-4: #6BDF7E;
  --rb-text-color-1: #fff;
  --rb-text-color-2: #585858;
  --rb-text-color-3: #808088;
  --rb-text-color-4: #7AFF90;
  --rb-text-color-5: #FF7A7A;
  --rb-text-color-6: #C4C4C4;
  --rb-text-color-7: #616161;
  --rb-box-shadow-1: 0px 3px 1px 0px #0000000F, 0px 3px 8px 0px #00000026;
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  background-color: var(--rb-background-color-2);
  color: var(--rb-text-color-1);
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
